body{

margin: 0;
background: linear-gradient(white, rgb(28, 237, 252));
height: 100vh;
width: 100vw;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
}


.caixa-pesquisa{
position: relative;


}

.pesquisa{
    display: inline-flex;
    justify-content: space-between;
width: 4px;
height: 90px;
border: none;
background: none;
box-sizing: border-box;
padding-left: 0vw;
background-color: rgb(13, 44, 40);

border-radius: 50px;
font-size: large;
transition: 0.8s ease;
padding-left: 90px;
cursor: pointer;
}

.lupa{
position: absolute;
right: 1em;
top: 0.8em;
border-radius: 50;
transition: 1s;
margin: 5px;
}


.caixa-pesquisa:hover > .pesquisa {
border-radius: 100px;
width: 30em;
padding-left: 50px;
cursor: text;
}






